<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Analytics dashboard</div>
                <div class="font-medium tracking-tight text-secondary">Monitor metrics, check reports and review assets reports</div>
            </div>
            <div class="flex items-center ml-6">
                <button
                    class="hidden sm:inline-flex"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                    <span class="ml-2">Settings</span>
                </button>
                <button
                    class="hidden sm:inline-flex ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:save'"></mat-icon>
                    <span class="ml-2">Export</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button
                        [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        

    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1 p-2">

            
        <div class="bg-white p-4 rounded-lg border border-gray-300 shadow">
            <div class="flex items-center justify-center flex-col">
                <div class="text-lg font-medium tracking-tight leading-6 text-black-500">
                    Total Products
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-7xl font-bold tracking-tight text-black-500">
                        
                        1,234
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg border border-gray-300 shadow">
            <div class="flex items-center justify-center flex-col">
                <div class="text-lg font-medium tracking-tight leading-6 text-black-500">
                    Total Orders
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-7xl font-bold tracking-tight text-black-500">
                        
                        4,567
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg border border-gray-300 shadow">
            <div class="flex items-center justify-center flex-col">
                <div class="text-lg font-medium tracking-tight leading-6 text-black-500">
                    Total Revenue
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-7xl font-bold tracking-tight text-black-500">
                        
                        $123K
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white p-4 rounded-lg border border-gray-300 shadow">
            <div class="flex items-center justify-center flex-col">
                <div class="text-lg font-medium tracking-tight leading-6 text-black-500">
                    New Customers
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div class="text-6xl sm:text-7xl font-bold tracking-tight text-black-500">
                        
                        789
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-1 w-full h-full p-2">
        <div class="flex flex-col gap-1 bg-white p-2 rounded-lg border border-gray-300 w-full h-full">

                

            <div class="border-t border-gray-300 my-2"></div> 

                

        </div>

        <div class="bg-white p-2 rounded-lg border border-gray-300 flex flex-col gap-1 w-full h-full">
        </div>
    </div>



</div>






















































